@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1564397204417'); /* IE9 */
  src: url('iconfont.eot?t=1564397204417#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAJ0AAsAAAAABiAAAAIoAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcAokQwE2AiQDCAsGAAQgBYRtBzYbbwUR1Ysvsj9APLYTAiJUae2BFBkEei8CLArmsP8DBEaBBAAAAACIh/ox1tv/F9Wkmhi6aBNNZBKJStYEqREiITEdTqJYvHo0ApAus57g8QG0uGnGXOcmVITiyal31fUF0lL4afbyK24//98HAiC7yCiLYeh/Lqc3ge6ezw90ooe2W5PGmnzUCzCwNKC9MYqshDJuGLukYT4m0GrEktjaXx/QLLmrAnHprIbmSlJKVmkWGjsOpnjSoLk8lHlMvh+/l6OZoqFyew4udgWsfePV9MfnESJFQMcbULGEJE46i3uqYFTVejpNIKXgG3BAXNUr2F/ntreDIVgKvgmOCFBAZqOJlkWbKDWu59llEP9dWj9LZVUgmJ88Xf5jluCtT+RpYZr3CgV/r0zsS0tz/SW10hkuctHKglat+MDRXl+XugZuVQ3NBm4YbjJcQNVsCk1yCRq0WUk1avasdlot2oXH2/S5UkW2YMENgNDtGYpOL1B1e0WT/AINBv2FRt1RodVZcGGbmSCdyqSFCsz+6PK+M35QVNp5I/tuNJe1hHkRe5fBJIzrlQN1xFts8R+bihg03Le4B89R0/Q4cF9RLmEpMiyiyHS9Kcz7FhRk0kIFZn90ed+ZaLioxudvZN+N5gFTI34Rezc+JmE8AT3YukmmV3nFf2wqYtBw3+IezKOm6XHonldRLmG5ID8sIm+QmWoLj0+1AbgSWsFdJnjCFPhSd7ZyYUH6NwAAAA==') format('woff2'),
  url('iconfont.woff?t=1564397204417') format('woff'),
  url('iconfont.ttf?t=1564397204417') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1564397204417#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshangjiantou:before {
  content: "\e65d";
}

